#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

#stopWatchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
    border: 0.3px solid;
    padding: 10px;
    border-radius: 225px;
    background-color: lightgray;
}



/* To display : divider in between minutes and seconds */
#minutesLabel::after {
    content: ":";
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-top: 20px;

}

#timeLabelContainer {
    display: flex;
    width: 75%;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #00ff76;
    border-radius: 12px;
    padding: 2px;
    font-size: 80px;
}

.timeButton {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.timeButton:active {
    transform: translateY(5px);
}

#watchLogo {
    height: 25%;
    width: 25%;
}

/* To display : fade in out effect after stopping the stopwatch to display the stopped time */
.fade-in-out {
    animation: fade-in-out 1.5s linear infinite;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}